peft
tqdm
cbor2 zmq
sb3-contrib
venv
scipy
numpy 
scikit-learn
matplotlib
pandas 
json 
transformers 
torch
jsonlines
spacy
gdown
tensorboard
torchvision
gdown
MinkowskiEngine
huggingface_hub
datasets
ipywidgets
tensorboardx
librosa
tensorflow
pyctcdecode
kenlm
ray
ray[data,train,tune,serve]
optuna